* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* Style the body */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: midnightblue;
  color: white;
  display: flex;
  flex-direction: column;
}
/* Header/logo Title */
.header {
  padding: 5px;
  text-align: center;
}
/* Style the top navigation bar */
.navbar {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  padding: 15px 20px;
  border-radius: 16px;
  box-shadow: -1rem 0 -1rem #000;
  height: 75px;
}
/* Style the navigation bar links */
.navbar a {
  padding: 14px 20px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: lightblue;
}
/* Change color on hover */
.navbar a:hover {
  text-decoration: none;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem #000;
}
/* Main column */
.main {
  flex: 70%;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem #000;
}
/* Footer */
.footer {
  padding: 5px;
  text-align: center;
  width: 100%;
  font-size: 8px;
  height: 25px;
}
.cv {
    height: 800px;
}
/* Social pictures (twitter || linkedin) */
.Social-pics {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
/*css for the picture on website.*/
.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 1rem 0 0;
}
.author-avatar img {
  display: block;
  width: 90px;
  height: 115px;
  border-radius: 50%;
  margin: 16px 10px;
}
.author-name {
  position: relative;
  left: 12%;
}
/* changed settings for h2, h4 and p text blocks */
h2 {
  color: lightblue;
}
h4 {
  text-align: center;
  height: 100%;
}
a {
  text-decoration: none;
  color: lightblue;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
    width: 100%;
  }
  .cv {
    height: 460px;
  }
}
